// FONTS
// - Body
// font-family: 'Barlow', sans-serif;
// - Headings, Navigation, etc
// font-family: 'Barlow Condensed', sans-serif;

// FONT SIZE
// - Body Copy: 18px


// COLORS

// PRIMARY
// - Red: hsl(0, 100%, 68%)

// NEUTRAL
// - Very Dark Blue: hsl(230, 29%, 20%)
// - Dark Grayish Blue: hsl(230, 11%, 40%)
// - Grayish Blue: hsl(231, 7%, 65%)
// - Light Grayish Blue: hsl(207, 33%, 95%)

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}